<h2>Change Your Password</h2>

<p>Enter the password you would like to use, then enter it again in the confirmation box and click Save.</p>
<p>Passwords must be at least <em>eight characters</em> in length.</p>

<div class="form_container">
  <% if @student.errors.count > 0 %>
    <div class="error">
      <p>We had a bit of a problem with the fields marked in red.</p>
      <ul>
      <% @student.errors.each do |field,error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% form_tag "/students/change_password" do %>
  <% if @workshop %><%= hidden_field_tag 'workshop', @workshop.id %><% end %>
    <div class="form_row">
      <div class="form_label">
        <label for="student_email">Password:</label>
      </div>
      <div class="form_field">
        <%= password_field 'student', 'password', { :size => 30, :class => 'field' } %>
      </div>
    </div>
    <div class="form_row">
      <div class="form_label">
        <label for="student_password">Confirm:</label>
      </div>
      <div class="form_field">
        <%= password_field 'student', 'password_confirmation', { :size => 30, :class => 'field' } %>
      </div>
    </div>
    <div class="form_row"><div class="form_label">&nbsp;</div><div class="form_field"><%= submit_tag "Log In" %></div></div>
  <% end %>
</div>
