<% if not session[:user] %>

  <h2>Log In</h2>

  <p>If you'll just confirm your login below, you'll be on your way.</p>

  <div class="form_container">
    <% if flash[:error] %>
      <div class="error">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <% #form_tag "/#{@workshop.year}/#{@workshop.month}/#{@workshop.ident}/login" do %>
    <% form_tag "/students/login" do %>
    <% if @workshop %><%= hidden_field_tag 'workshop', @workshop.id %><% end %>
      <div class="form_row">
        <div class="form_label">
          <label for="student_email">Email:</label>
        </div>
        <div class="form_field">
          <input type="text" name="student_email" size="30" class="field" value="<%= @email %>" />
        </div>
      </div>
      <div class="form_row">
        <div class="form_label">
          <label for="student_password">Password:</label>
        </div>
        <div class="form_field">
          <input type="password" name="student_password" size="30" class="field" />
        </div>
      </div>
      <div class="form_row">
        <div class="form_label">&nbsp;</div>
        <div class="form_field">
          <%= submit_tag "Log In" %>
          <p style="display: inline;">&nbsp;<a href="/students/forgot">Forget your password?</a></p>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <h2>Welcome back!</h2>

  <p>It's nice to see you again, <%= @student.first_name %>! Just make sure all of this stuff is correct and click "Save."</p>

  <div class="form_container">
    <% if @student.errors.count %>
      <div class="error">
        <p>The fields in red are required or their content isn't valid. Make sure you've entered a proper e-mail address and supplied information for all fields.</p>
        <ul>
        <% @student.errors.each do |error| %>
          <li><%= "#{error[0]} #{error[1]}"%></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <% form_tag "/workshop/#{@workshop.year}/#{@workshop.month}/#{@workshop.ident}/update" do %>
      <%= render :partial => 'form' %>
      <%= hidden_field_tag 'workshop_id', nil, :value => @workshop.id %>
      <%= hidden_field_tag 'sid', nil, :value => @student.id %>
      <div class="form_row">
        <div class="form_label">&nbsp;</div>
        <div class="form_field">
          <%= submit_tag "Update and Register" %>
        </div>
      </div>
    <% end %>

  </div>

<% end %>
